.jumbotron{
	border-radius:0!important;
}

/*页面容器*/
.mainten{
	background: #ffffff;
	position:relative;
	bottom:3.2rem;
}
/*标题公用样式*/
.col-md-4 h4{
	/*background: yellow;*/
	color: #333333;
	font-weight: bold;
	line-height: 1.4;
	font-weight: bold;
}
.mainten .f_start{
	background:url(../img/f_strat.png)no-repeat center top;
}

.mainten .top-img{
	margin-top:6rem;
}
.mainten .top-detail{
	margin-top: 4rem;
	margin-bottom: 6rem;
}
.mainten .top-detail p{
	color: #333333;
	line-height: 1.8;
}
.mainten .title-one{
	margin-bottom: 3.5rem;
}

.mainten .col-md-5 .de-title{
	font-size: 1.12rem;
	font-weight: bold;
	color: #333333;
	margin-bottom:.7rem;
}
.mainten .col-md-5 .de-futitle{
	font-size:0.75rem;
	font-weight: bold;
	color: #e4e4e4;
	margin-bottom: 0;
}
.mainten .col-md-5 .de-paper{
	font-size:0.87rem;
	color: #333333;
	margin-top:1.rem;
	line-height: 1.8;
}


/*媒体查询*/
@media only screen and (max-width:768px) {
	.mainten .wen-detail{
		margin-top: 1.8rem;
	}
}
