
/*页面容器*/
.body_box{
	position: relative;
	background:#ffffff;
	margin-top: 1.25rem;
}
.body_box .row{
}
/*新闻*/
.body_box .nav_box{
}
.body_box .nav_box .ul_box{
	width: 100%;
	/*border-bottom: 1px solid #cccccc;*/
}
/*锚导航UL*/
.body_box .nav_box .ul_box ul{
	margin-top: 0.93rem;	
}
.body_box .nav_box .nav_box ul li a{
	color: #333333;
	font-size: 1.12rem;
}
/*新闻列表*/
.body_box .nav_box .tab-content{
}
.body_box .nav_box .tab-content #first10{
	width: 100%;
}
.body_box .nav_box .tab-content #first10 ul{
	width: 100%;
	border: 1px solid white;
}
.body_box .nav_box .tab-content .nav_ul li{
	width: 100%;
	margin-top: 2.2rem;
	border-bottom: 1px solid #cccccc;
	cursor: pointer;
	transition: all .3s ease;
}
.body_box .nav_box .tab-content .nav_ul li:hover{
	border: none;
	box-shadow: 0px 3px 13px #d9d9d9;
	
}
.body_box .nav_box .tab-content .nav_ul li .img_box{
	height: 100%;
	/*width: 30%;*/
}
.body_box .nav_box .tab-content .nav_ul li .nav_detail{
	width: 69%;
	padding-right: 15px;
}
.body_box .nav_box .tab-content .nav_ul li .nav_detail .n_title{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
    color: #333333;
    font-size: 1rem;
    font-weight: bold;
    transition: all .4s ease;
    
}
.body_box .nav_box .tab-content .nav_ul li .nav_detail .n_title:hover{
	/*border-bottom: 1px solid black;*/
}
.body_box .nav_box .tab-content .nav_ul li .nav_detail .n_detail{
	 display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #999999;
    font-size: 0.87rem;
}
.body_box .nav_box .tab-content .nav_ul li .nav_detail .n_date{
	font-size: 0.75rem;
	color: #999999;
}
.body_box .nav_box .tab-content .nav_ul li:last-child {
	border-bottom: none;
}
    
/*热门*/
.body_box .hot_box{
	position: absolute;
	right: 0;
	top: 0.93rem;
}
.body_box .hot_box ul{
}
.body_box .hot_box ul li{
	margin-top: 0.93rem;
}
.body_box .hot_box ul .title{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	padding-left: 8px;
    color: #333333;
    font-size:0.87rem;
    transition: all .2s ease;
    width: 80%;
    margin-bottom: 0;
}
.body_box .hot_box ul span{
	color: #999999;
	font-size: 0.75rem;
}
.body_box .hot_box ul .title:hover{
	color:#808080;
}

/*分页样式*/
/*.body_box .nav_box .tab-content #first10 .pagination .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.body_box .nav_box .tab-content #first10 .pagination .page-link{
	color:#28a745;
}*/
/*媒体查询*/
@media only screen and (min-width:768px) {
	/*锚导航*/
	.body_box .nav_box .ul_box ul{
		width: 50%;
	}
	.body_box .nav_box .tab-content #first10 .pagination .form-control{
		width: 20%;
	}
	
}
@media only screen and (max-width:768px) {
	.body_box .nav_box .tab-content .nav_ul li{
		margin-top:0.62rem;
	}
	.body_box .nav_box .tab-content .nav_ul li .nav_detail{
		padding-left: 15px;
		width: 65%;
	}
	.body_box .nav_box .tab-content .nav_ul li .nav_detail .n_title{
		margin-bottom: 0;
		font-size: .8rem;
	}
	
	.body_box .nav_box .tab-content .nav_ul li .nav_detail .n_detail{
		margin-bottom:0;
		font-size: .8rem;
	}
	/*热门*/
	.body_box .hot_box{
		border-top: 1px solid #cccccc;
		position: static;
	}
	.body_box .hot_box .top{
		margin-top: 0.31rem;
	}
	.body_box .hot_box ul .title{
		width: 90%;
	}
}