
/*超大屏幕*/
.jumbotron{
	background: #000000;
	border-radius:0!important;
}

/*轮播图li下标颜色*/
.carousel-indicators .active{
	background-color: #29CC5F!important;
}
/*页面容器*/
.body_box{
	overflow: hidden;
	background: #ffffff;
}
/*公用标题样式*/
.col-md-5 h4{
	/*background: yellow;*/
	color: #333333;
	font-weight: bold;
	line-height: 1.4;
}


/*服务明星*/
.index_middle{
	margin-top: 4.37rem;
}
.index_middle .col-md-10{
	margin-top:2.5rem;
}

/*团队风采*/
.index_bottom{
	margin-top:4.37rem;
}
/*团队风采-->明星列表*/
.index_bottom .start_list{
	margin-top:2.5rem;
	/*background-image: url(../img/xian.png);
	background-repeat:no-repeat;
	background-position:7% 0%;*/
}

.index_bottom .start_list .col-md-3{
	background:#ffffff;
	margin: 4rem 0 4rem 0;
	box-shadow: 0px 10px 15px #cccccc;
}
/*明星图片*/
.index_bottom .start_list .col-md-3 #start_img{
	width: 100%;
	height: 70%;
	position: relative;
	overflow: hidden;
	/*box-shadow: 0px 10px 15px #cccccc;*/
}
.index_bottom .start_list .col-md-3 #start_img .img-fluid{
	width: 100%;
	transition: all .5s ease;
}
.index_bottom .start_list .col-md-3 #start_img .img-fluid:hover{
	transform: scale(1.1);
}
/*明星名字*/
.index_bottom .start_list .col-md-3 #start_name{
	color:#33A55A;
	font-weight: bold;
	margin-bottom:1rem;
	margin-top: 1rem;
}
/*明星类型*/
.index_bottom .start_list .col-md-3 #start_detail{
	margin-bottom: 1rem;
}
.index_bottom .start_list .col-md-3 .start_num{
	width: 70%;
	margin-bottom: 1rem;
}

/*维修精英列表--图片*/
.index_middle .w_list{
	margin-top: 2.5rem;
}
.index_middle .w_list p{
	margin-bottom: 0;
}
.index_middle .w_list .w_img{
	position: relative;
	 display: table-cell; 
    vertical-align: middle;
    text-align: center;
}
.index_middle .w_list .w_img .j_top,.j_bottom{
	position: absolute;
}
.index_middle .w_list .w_img .j_top{
	left: 0;
	top: 0;
	z-index: 100;
}
.index_middle .w_list .w_img .j_bottom{
	right: 0;
	bottom: 0;
	z-index: 105;
}
.index_middle .w_list .w_img .j_peo{
	position: relative;
	z-index: 101;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

.index_middle .w_list .w_detail{
}
/*维修精英列表--精英简介*/
.index_middle .w_list .w_detail .w_name{
	font-size: 1.25rem;
	font-weight: bold;
	color: #33A55A;
}
.index_middle .w_list .w_detail .w_rank{
	font-size:1.75rem;
	padding-right: 1.25rem;
	font-weight: bold;
	color: #E4E4E4;
	text-align: right;
}
.index_middle .w_list .w_detail .years{
	font-size: 0.87rem;
	color: #666666;
	margin-bottom: .5rem;
}
.index_middle .w_list .w_detail .address{
	margin-bottom: .5rem;
}

.index_middle .w_list .w_detail .address p{
	font-size: 0.87rem;
	color: #666666;
}
.index_middle .w_list .w_detail .paper{
	font-size: 0.87rem;
	color: #333333;
}

/*优秀门店*/
.index_middle .y_detail{
/*	padding-bottom: 5rem;*/
}
.index_middle .y_detail .y_img{
	position: relative;
}
.index_middle .y_detail .y_img .img-fluid{
	width: 100%;
}
.index_middle .y_detail .y_img .num_k{
	position: absolute;
	top: 0;
	right: 0;
	width: 3.75rem;
	height: 3.75rem;
	line-height: 3.75rem;
	font-size: 0.87rem;
	font-weight: bold;
	text-align: center;
	background: #2a884a;
	color: #ffffff;
}
/*店铺简介*/
.index_middle .y_detail .y_paper{
	background: #33A55A;
	
}
.index_middle .y_detail .y_paper .d_name{
	font-size: 1.5rem;
	color: #ffffff;
	margin-top: 4.25rem;
}
.index_middle .y_detail .y_paper .rank{
	margin-bottom: 3rem;
}
.index_middle .y_detail .y_paper .paper{
	font-size: 0.87rem;
	color: #ffffff;
}
.index_middle .y_detail .y_paper .address{
	font-size: 0.87rem;
	color: #ffffff;
}


/*标题背景图*/
.body_box .f_start{
	background:url(../img/f_strat.png)no-repeat center top;
}
.body_box .w_start{
	background:url(../img/f_strat.png)no-repeat center top;
}
.body_box .y_start{
	background:url(../img/f_strat.png)no-repeat center top;
}
/*媒体查询*/
@media only screen and (min-width:768px) {
	.body_box{
		overflow: hidden;
		position: relative;
		background: #ffffff;
		top: -4.2rem;
		z-index: 999;
	}
	.index_bottom .start_list .col-md-3{
		padding-left: 0;
		padding-right: 0;
	}
	
	.index_middle .w_list .col-md-5{
		padding-left: 0;
		padding-right: 0;
	}
	.index_middle .w_list .w_detail .paper{
		padding-bottom: 3rem;
	}
	.index_middle .y_detail .y_img{
		padding-left: 0;
		padding-right: 0;
	}
}
@media only screen and (max-width:1200px) {
	.index_middle .y_detail{
		width: 100%;
	}
	.index_middle .y_detail .y_paper{
		/*background: #33A55A;
		margin-left: 15px;
		margin-right: 15px;*/
	    width: 100%;
	}
}
@media only screen and (max-width:768px) {
	.col-md-5 h4{
		color: #333333;
		font-weight: bold;
		line-height: 1.6;
	}
	.index_middle .w_list{
		margin-top: 1rem;
	}
	.index_middle .w_list .w_img .j_peo{
		position: relative;
		z-index: 101;
		margin-top:1.58rem;
		margin-bottom:1.58rem;
	}
	.index_middle .w_list .w_detail .paper{
		padding-bottom: 1rem;
	}
	.index_middle .w_list .w_detail .w_name{
		margin-top: 1rem;
	}
	.index_middle .y_detail .y_img .num_k{
		right: 15px;
	}
	.index_middle .y_detail .y_paper .d_name{
		font-size: 1.5rem;
		color: #ffffff;
		margin-top: 2rem;
}
	.index_middle .y_detail .y_paper .rank{
		margin-bottom: 1rem;
	}
}
@media only screen and (max-width:576px) {
	.index_middle .y_detail .y_paper{
		background: #33A55A;
		margin-left: 15px;
		margin-right: 15px;
	
	}
}
	
	